.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color: rgb(121, 238, 246);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: rgb(78, 105, 105);
    font-size: 26px;
    color:  rgb(121, 238, 246); 
    margin-top: 25px;
    margin-bottom: 50px;

}
.boxes{
    display: flex;
    width: 180px;
    height: 180px;
    background: #1f3540;
    border: 2px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;


}
.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;

}
.boxes img{
    margin: 50px 50px;
}
.title img{
    padding: 20px 20px;
    height: 50px;
}
.message{
     font-size: 18px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  text-align: center;
  color: #ff4444;
  min-height: 24px; 
  transition: all 0.3s ease-in-out;
}